export(generate_dgp_data)
export(logit_ci)
export(ppi_point_and_ci)
export(llm_point_and_ci)
export(ppi_pp_point_and_ci_general)
export(g_rogan_gladen)
export(g_posterior_prob)
export(g_identity_multiclass)
export(g_confusion_inverse)
export(estimate_confusion_matrix)
export(ppi_multiclass)
export(project_simplex)
export(rg_least_squares_simplex)
export(ppi_pp_multiclass)
export(fit_misclassification_models)
export(g_covariate_rg)
export(fit_reppi_model)
export(g_reppi_predict)

# Plot utilities
export(plot_base_theme)
export(plot_base_theme_aggregate)
export(format_label_ratio)
export(build_line_plot)
export(plot_coverage)
export(plot_ci_width)
export(plot_bias)
export(plot_bias_pct)
export(plot_q_bias)
export(generate_plot_suite)
